.git
**/.DS_Store
**/.env
**/.env.*
**/node_modules
**/dist
**/.turbo
**/.vite
apps/api/public/outputs
apps/frontend/dist
apps/setup/dist
docs/.docusaurus
docs/build
infra/gcp/.terraform
apps/frontend/src/integrations/generated-package-contributions.ts
apps/api/src/integrations/generated-package-contributions.ts
apps/runners/orchestrator/src/generated/package-contributions.ts
